.App {
  text-align: center;
}
.fab-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050; /* above other elements */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.fab-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
